{
  "presets": ["next/babel"],
  "plugins": [
    "transform-decorators-legacy",
    "wildcard",
    [
      "module-resolver",
      {
        "alias": {
          "components": "./components",
          "utils": "./utils",
          "constants": "./utils/constants",
          "styles":"./styles",
          "bindRedux":"./redux/store",
          "actions":"./redux/actions"          
        }
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": ["less$"]
      }
    ],
    ["import", { "libraryName": "antd" }]
  ],
  "ignore": []
}